.container {
  padding: 0 50px;
  margin: 0 auto;
}

.mainContent {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1px 1fr;
  background-color: var(--vscode-editor-background);
}

.layout {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  grid-template-columns: 1fr;
  width: 100vw;
  height: 100vh;
}

.centerView {
  display: flex;
  padding: 0px 0.75em 0px 0.75em;
  overflow: auto;
  width: 100%;
  box-sizing: border-box;
  background-color: var(--vscode-editor-background);
  justify-content: flex-start;
}

* {
  font-family: 'Roboto';
}