.title {
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  margin: 15px;
  margin-bottom: 30px;
}

.container {
  padding-top: 16.5px;
  padding-bottom: 71px;
  overflow: auto;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
}

.rightViewCropped {
  width: 50vw;
  background-color: var(--vscode-editor-background);
  border-left: 0.5px solid #7f7f7f;
  box-sizing: border-box;
}

.rightViewCropped {
  padding-bottom: 0px;
}

.dropdownTitle {
  font-weight: bold;
  margin-bottom: 3px;
  font-size: 14px;
}

.sidebarItem {
  margin: 15px;
  margin-bottom: 30px;
}

.sortablePages {
  margin-bottom: 30px;
}

.draggablePage {
  display: flex;
}

.pagesTextContainer {
  width: 100%;
  height: 38px;
  background: #dfdfdf;
  border: 0.5px solid rgba(0, 0, 0, 0.5);
  margin-left: 10px;
  display: flex;
  align-items: center;
  padding: 0px 10px;
}

.icon {
  height: 20px;
}

.iconContainer {
  display: flex;
  align-items: center;
}

.selection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
