<div class="container-fluid">
    <div class='row my-4'>
        <div class='col-12 col-lg-9 border-right'>
            <div class="row example-wrapper">
                <div class="col-xs-12 col-sm-6 offset-sm-3 example-col">
                    <div class="card">
                        <div class="card-block">
                            <form class="k-form">
                                <fieldset>
                                    <legend>User Details</legend>

                                    <label class="k-form-field">
                                        <span>First Name</span>
                                        <input class="k-textbox" placeholder="Your Name" />
                                    </label>
                                    <label class="k-form-field">
                                        <span>Last Name</span>
                                        <input class="k-textbox" value="Batista" placeholder="Your Last Name" />
                                    </label>
                                    <div class="k-form-field">
                                        <span>Gender</span>

                                        <input type="radio" name="gender" id="female" class="k-radio">
                                        <label class="k-radio-label" for="female">Female</label>

                                        <input type="radio" name="gender" id="male" class="k-radio" checked="checked">
                                        <label class="k-radio-label" for="male">Male</label>
                                    </div>
                                    <label class="k-form-field">
                                        <span>Email <span class="k-required">*</span></span>
                                        <input type="email" class="k-textbox" value="bernardo.batista@progress.com"
                                            placeholder="Your Email" />
                                    </label>
                                    <label class="k-form-field">
                                        <span>Company<span class="k-field-info">optional</span></span>
                                        <input class="k-textbox" placeholder="Your Company" />
                                    </label>
                                </fieldset>

                                <fieldset>
                                    <legend>Credentials</legend>
                                    <label class="k-form-field">
                                        <span>Username</span>
                                        <input class="k-textbox" value="bbatista" placeholder="Your username" />
                                    </label>
                                    <label class="k-form-field">
                                        <span>Password</span>
                                        <input type="password" class="k-textbox" value="123456" placeholder="Your password" />
                                    </label>
                                    <label class="k-form-field">
                                        <input type="checkbox" id="auth-2fa" class="k-checkbox" checked="checked">
                                        <label class="k-checkbox-label" for="auth-2fa">Enable two-factor authentication</label>
                                    </label>
                                </fieldset>

                                <div class="text-right">
                                    <button type="button" class="k-button">Cancel</button>
                                    <button type="button" class="k-button k-primary">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class='col-12 col-lg-3 mt-3 mt-lg-0'>
            <h3>Kendo UI for Angular Form</h3>
            <p>Kendo UI for Angular provides comprehensive support for building forms.</p>

            <p>For the full list of components which support Reactive and Template-Driven Forms, refer to the article
                on <a href="https://www.telerik.com/kendo-angular-ui/components/forms/forms-support/">support by Kendo
                    UI for Angular</a>.</p>
        </div>
    </div>
</div>