.kendo-angular {
  width: 75px;
  height: 67px;
}

.kendo-react {
  width: 75px;
  height: 67px;
}

.image-container {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-holder {
  width: 100px;
  height: 135px;
  text-align: center;
  padding: 0;
  margin-right: 40px;
}

.text-holder {
  font-weight: bold;
}

.container {
  outline: none;
}

.selected {
  border: 1px solid #0078D7;
  box-sizing: border-box;
  background-color: var(--vscode-activityBar-background);
}